<div class="card">
  <div class="card-header">
    <h4>Upload your resume</h4>
  </div>
  <div class="card-body">
    <%= render "form", resume: @resume %>

<br>


<div>
  <%= link_to "Show resumes", resumes_path %>
</div>


  </div>





 








